#text{
    text-align: center
}

.card_custom{
    background-color: black;
    color: white;
}

.text_card{
    padding: 0.5rem;
}

.card_img{
    max-width: 100%;
    
    @media screen and (min-width: 992px) {
        width: 30%;
        height: auto;
    }
}

.add_form{
    margin-bottom: 4rem;
}